body {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10 px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800 px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(80, 0, 255);
    margin: 0 auto;
    display: flex;
    padding: 10 px;
      margin-bottom: 20 px;
}

h1 {
    display: flex;
    align-items: center;
    color: Yellow;
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10 px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(240, 238, 219);
    display: flex;
    margin-top: 20 px;
}

.sidebar {
    margin-right: 25 px;
    padding: 10 px;
}

.sidebar-img {
    width: 200 px;
}

.content {
    flex: 1;
    padding: 15 px;
}

/* interests section styles */
#interests {
    border: 4 px yellow;
    padding: 8 px;
    margin-top: 20 px;
}

h2, h3 {
    margin: 0 px;
}
